* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in element width/height */
}

/*Header*/
.header{
background-color: #F1EAD5;
color: #0055FF;
padding-top: 40px;
margin-bottom: 0;
text-align: center;
font-family: "RumRaisin", serif;
font-size: 120px;
font-weight: 200;
top: -20px;
position: relative;

}

/*Nav bar*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F1EAD5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }

    li {
    display: flex; /*inline-block*/
    text-align: center;
    position: relative;
      }

    li a { 
    display: inline-block; /*block*/
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'RumRaisin', serif;
    font-weight: 100;
    text-align: center;
    }

    li a:hover {
    color: #0055FF;
    }  
    
/*Footer*/
.footer{
background-color: #F1EAD5;
color: #0055FF;
padding: 5px;
margin: 5px;
text-align: center;
font-family: 'Magilio', serif;
font-size: 25px;
font-weight: 200;
    
}

.banner{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.banner__content{
  padding: 16px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.banner__text{
  color: white;
  text-align: center;
  font-family: 'Magilio', serif;
  font-size: 18px;
  
}

@font-face {
  font-family: 'RumRaisin';
  src: url(font/RumRaisin-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Body*/
body{
margin: 0;
padding: 0;
background-color: #F1EAD5;
}

/* Container to hold the gallery */
.container{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.photo-gallery{
  display: flex;
  gap: 20px;

}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}

.photo {
  display: flex;
  flex-direction: column; /* Ensures image and text stack vertically */
  align-items: center; /* Centers the text and image horizontally */
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  text-align: center; /* Center the text under the image */
  font-size: 18px; /* Adjust the size of the text */
  color: black; /* Set the color of the text */
  margin-top: 10px; /* Add some space between the image and the text */
  font-family: 'Magilio', serif; /* Optional: Use your chosen font */
}

/* Responsive adjustments for smaller screens */
@media(max-width: 768px) {
  .photo-gallery{
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .column {
    flex-basis: 100%; /* One column per row on very small screens */
  }
}


